// // Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');


// To use a font file (.woff) uncomment following lines

@font-face {
  font-family: "Elastik";
  src: font-url('Elastik/Elastik-A.ttf') format('truetype');
}

@font-face {
  font-family: "Musubi";
  src: font-url('Musubi/Musubi-Black.otf') format('truetype');
}


// Define fonts for body and headers
$body-font: "Elastik", "Helvetica", "sans-serif";
$headers-font: "Musubi", "Helvetica", "sans-serif";
