// // Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');


// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Musubi";
  src: font-url('../fonts/musubi/Musubi_Black.otf') format('otf');
}
$my-font: "Musubi";

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: $my-font;
