<p>Bonjour,</p>
<br>
<p>Nous vous confirmons avoir bien reçu votre demande de carte cadeau à l'attention de  <%= @order_gift.fullname_guest %>.</p>
<p>Nous allons rapidement lui offrir votre présent à son adresse email : <%= @order_gift.email_guest %>.</p>
<br>
<h3><strong>L'équipe de Graîne de Mômes</strong></h3>

<p>------------------------------</p>
<p>Cet email est généré automatiquement. Merci de ne pas y répondre.</p>
<p>------------------------------</p>
