<div class="footer">
  <%= image_tag "logo-footer.png" %>
  <div class="footer-center">
    <a href="https://grainedemomes.com/content/14-la-mission">LE DRESSING</a>
    <a href="https://ecolibribox.com/content/1-guide-des-tailles" target="blank">NOS ENGAGEMENTS</a>
    <a href="https://grainedemomes.com/content/12-mon-histoire" target="blank">NOTRE HISTOIRE</a>
  </div>
  <div>
    <a href="https://www.instagram.com/grainedemomes" target="blank"><img src="../assets/insta.png" alt="" style="height: 30px; width: 30px;"></a>
    <a href="#"><img src="../assets/icone-facebook.png" alt="" style="height: 30px; width: 30px;"></a>
  </div>
</div>

<!--   <a href="#" style="font-size: 12px">Made by EMMROSE</a> -->
