<div class="footer">
  <%= image_tag "logo-footer.png" %>
  <div class="footer-center">
    <a href="https://grainedemomes.com/3-le-dressing">LOCATION</a>
    <a href="https://grainedemomes.com/content/14-la-mission" target="blank">NOTRE MISSION</a>
    <a href="https://grainedemomes.com/content/4-vos-questions" target="blank">VOS QUESTIONS</a>
    <a href="https://grainedemomes.com/content/15-les-marques" target="blank">LES MARQUES</a>
    <%= link_to "MENTIONS LEGALES", mentions_legales_path %>
   <!--  <a href="https://grainedemomes-shop.com/mentions_legales" target="blank">MENTIONS LEGALES</a> -->
    <a href="https://grainedemomes.com/content/3-graine-de-momes-cgv" target="blank">CGV</a>
  </div>
  <div>
    <a href="https://www.instagram.com/grainedemomes/" target="blank"><img src="../assets/insta.png" alt="" style="height: 30px; width: 30px;"></a>
    <a href="https://www.facebook.com/grainedemome/"><img src="../assets/icone-facebook.png" alt="" style="height: 30px; width: 30px;"></a>
  </div>
</div>

<!--   <a href="#" style="font-size: 12px">Made by EMMROSE</a> -->
