<div class="footer">
  <%= image_tag "logo-footer.png" %>
  <div class="footer-center">
    <%= link_to "LE DRESSING", root_path %>
    <%= link_to "NOS ENGAGEMENTS", new_order_gift_path %>
    <%= link_to "NOTRE HISTOIRE", root_path %>
  </div>
  <div>
    <a href="https://www.instagram.com/grainedemomes" target="blank"><img src="../assets/insta.png" alt="" style="height: 30px; width: 30px;"></a>
    <a href="#"><img src="../assets/icone-facebook.png" alt="" style="height: 30px; width: 30px;"></a>
  </div>
</div>

<!--   <a href="#" style="font-size: 12px">Made by EMMROSE</a> -->
