<div class="pictos">
  <div class="picto">
    <img src="../assets/picto1.png" alt="">
    <p>Paiement sécurisé</p>
  </div>
  <div class="picto">
    <img src="../assets/picto2.png" alt="">
    <p>Livraison en France métropolitaine</p>
  </div>
  <div class="picto">
    <img src="../assets/picto3.png" alt="">
    <p>Service Client</p>
  </div>
</div>
