<div class="container" style="margin-top: 100px;">
  <div class="gift-cards">
    <div class="gift-card gift-card-border">
      <h3 class="title_formule">Formule 1 MOIS</h3>
      <h5>3 vêtements pour <strong>35,00 €</strong> TTC.</h5>
      <%= link_to root_path do %>
        <button>Offrir cette formule</button>
      <% end %>
    </div>
    <div class="gift-card gift-card-border">
      <h3 class="title_formule">Formule 2 MOIS</h3>
      <h5>5 vêtements pour <strong>49,00 €</strong> TTC.</h5>
      <%= link_to root_path do %> <!-- changer la route  -->
        <button>Offrir cette formule</button>
      <% end %>
    </div>
  </div>
</div>
