<h3>Graine de Mômes - Mentions légales</h3>
<p>EDITION
Le site www.grainedemomes-shop.com est la propriété de :

ECOLIBRI

SASU au capital social de 24 500€

6 clos des pommiers

14 740 THUE ET MUE

RCS : 879 237 774

TVA : FR94879237774

Contact : bonjour@grainedemomes.com

Fondatrice : Marine ROSE - 06 17 07 64 96

POLITIQUE DE CONFIDENTIALITÉ
GRAINE DE MÔMES collecte des données à caractère personnel des utilisateurs de son site Internet et de ses clients. La présente politique de confidentialité a pour objet d’informer les utilisateurs des moyens mis en œuvre pour collecter, consulter, traiter et conserver les données personnelles des utilisateurs.

GRAINE DE MÔMES, en qualité de responsable de traitement, s’engage à respecter les dispositions du règlement (UE) n°2016/679 du 27 avril 2016 relatif à la protection des données à caractère personnel. Le client est informé que certaines données doivent être collectées par GRAINE DE MÔMES afin de pouvoir réaliser ses prestations. Si le client ne souhaite pas communiquer ces données, GRAINE DE MÔMES ne pourra pas accomplir ses prestations. La présente politique de confidentialité peut être modifiée à tout moment par GRAINE DE MÔMES, afin notamment de se conformer à toutes évolutions réglementaires, jurisprudentielles, éditoriales ou techniques. L'utilisateur doit se référer avant toute navigation à la dernière version de la Politique de protection des données personnelles.

Nous protégeons votre vie privée en assurant la protection, la confidentialité, la non altération, la disponibilité et la sécurité des données personnelles que vous nous confiez sur l’ensemble de nos canaux de communication.

Dans ce souci permanent de sécurité et de protection, nous vous encourageons à faire preuve de prudence pour empêcher tout accès non autorisé à vos données personnelles et à protéger vos terminaux (ordinateur, smartphone, tablette) contre tout accès non souhaité, voire malveillant, par un mot de passe robuste, qu’il est recommandé de changer régulièrement. Si vous partagez un terminal, nous vous recommandons de vous déconnecter après chaque utilisation.

Nous sommes totalement engagés pour une protection efficace des données personnelles que vous nous confiez et nous prenons l’ensemble des mesures nécessaires afin de :

vous fournir une information claire et transparente sur la manière dont vos données personnelles sont collectées et traitées
mettre en place toutes les mesures techniques et organisationnelles nécessaires pour protéger vos données personnelles contre la divulgation, la perte, l’altération ou l’accès par un tiers non autorisé ;
conserver vos données personnelles uniquement le temps nécessaire aux fins du traitement ou du service déterminé ;
vous offrir à tout moment la possibilité d’accéder et de modifier vos données personnelles que nous traitons directement via vos espaces personnels sur nos différents sites.
Pour atteindre ces objectifs, nous mettons en œuvre les mesures techniques et organisationnelles appropriées pour nous assurer que les traitements sont conformes au droit applicable en matière de protection des données personnelles.

1-Le Responsable de Traitement

Le responsable de traitement, qui collecte les données à caractère personnel et met en œuvre les traitements de donnée est :

Graine de Mômes, société par actions simplifiée au capital de 24.500 €, immatriculée au Registre du Commerce et des Sociétés de Caen sous le numéro 879 237 774, dont le siège social est situé au 6 clos des pommiers, 14740 Thue et Mue , France.

2- Collecte des donnée personnelles

a. Source de collecte

Vos données personnelles peuvent être recueillies lorsque :
vous créez un compte sur nos sites internet
vous visitez nos sites internet qui peuvent utiliser des cookies ;
vous renseignez un profil enfant dans votre compte client ;
vous achetez nos produits en ligne ;
vous créez ou modifiez votre abonnement ;
vous adhérez à notre newsletter ;
vous contactez le service client par tout moyen de communication mis à votre disposition tels que le courrier électronique, la messagerie instantanée, etc;
vous participez à un jeu promotionnel ;
vous rédigez un commentaire ou un avis sur le site ;
vous partagez un avis par l’intermédiaire de Facebook, Google, Instagram ou Pinterest à partir du site ;
vous remplissez un formulaire de saisie d’informations, questionnaires sur nos sites internet ;
b. Données collectées

Nous collectons les informations que vous nous fournissez dans le cadre de notre relation commerciale notamment :

lorsque vous créez un compte client ou prospect ;
lors que vous remplissez un profil enfant ;
lors de la gestion de vos commandes, retours, réclamations
lors de vos échanges avec notre service client ;
lorsque vous naviguez sur notre site Internet ;
lorsque vous participez à un jeu promotionnel ;
Les informations dont la collecte est strictement nécessaire pour vous fournir un service sont signalées par un astérisque et concernent généralement vos nom, prénom, adresse postale, adresse de courrier électronique, numéro de téléphone fixe ou mobile, ainsi que tous les renseignements nécessaires sur votre enfant (prénom, genre, date de naissance, taille souhaitée).

Nous collectons également des informations personnelles lorsque vous achetez nos produits ou lorsque vous utilisez nos services. En particulier, nous collectons des informations relatives au montant et à la nature de vos achats, des informations relatives à vos commandes, vos factures et à votre parcours client ou prospect sur nos services en ligne. Conformément à la réglementation, nous ne collectons pas les données qui révèlent l'origine raciale ou ethnique, les opinions politiques, les convictions religieuses ou philosophiques ou l'appartenance syndicale, les données personnelles génétiques, les données personnelles biométriques aux fins d'identifier une personne physique de manière unique, les données personnelles concernant la santé ou les données personnelles concernant la vie sexuelle ou l'orientation sexuelle d'une personne physique. Ces catégories de données personnelles particulières ne font jamais l’objet d’une collecte ou d’un traitement par GRAINE DE MÔMES.

3-Utilisation des données

Nous traitons vos informations personnelles de manière transparente et de façon sécurisée. Vos informations personnelles sont collectées aux fins détaillées ci-après.

a. Gestion de l'activité de Graine de Mômes

Gestion des commandes, des livraisons et des retours
Dans le cadre de l’exécution de nos obligations envers nos clients, nous collectons et utilisons vos informations personnelles pour gérer notre relation commerciale, notamment pour gérer vos achats et vos commandes, pour livrer vos produits, prendre en charge vos retours éventuels et vous proposer nos services et offres promotionnelles qui pourraient vous intéresser. Ces informations nous aident à améliorer votre expérience d’achats en ligne, comme visée ci-après

Communication client et prospect
Nous collectons et conservons vos informations personnelles pour pouvoir communiquer avec vous sur vos commandes, vos factures, votre abonnement ou vos réclamations au service client.

Amélioration de votre expérience client
Nous analysons vos informations personnelles afin d’améliorer votre expérience client. Sauf opposition de votre part, ces analyses nous permettent de vous proposer des produits innovants ou des offres complémentaires ou promotionnelles ou d’afficher des publicités qui répondent, dans la mesure du possible, à vos habitudes de consommation et à vos centres d’intérêts

Publicités partenaires ciblées
GRAINE DE MÔMES collecte et analyse vos données à des fins marketing, avec l’assistance de prestataires spécialisés. Dans ce cadre, vos données sont transformées en profils détaillés pseudonymisés (c’est-à-dire des profils ne permettant plus de vous identifier personnellement lors de la diffusion des contenus publicitaires au cours de votre navigation sur Internet) pour être utilisés par nos partenaires commerciaux dans le but de réaliser des campagnes publicitaires sur internet (display) ciblées sur vos centres d’intérêts et vous faire profiter d’offres qui correspondent à vos habitudes de consommation.

Si vous ne souhaitez pas bénéficier de publicités ciblées de nos partenaires, vous pouvez :

Il est important de noter que vous serez malgré tout atteint par des publicités, mais elles ne seront pas ciblées en fonction de vos habitudes de consommation et vos centres d’intérêts.

b.Exigence légale ou réglementaire

Nous pouvons être tenus de communiquer vos données personnelles en cas de demandes légitimes d’autorités publiques, notamment pour répondre à des exigences en matière de sécurité nationale, de lutte contre la fraude ou d’application de la loi.

c. Prévention et lutte contre la fraude

Les données collectées sont également utilisées dans le cadre de la prévention et de la lutte contre la fraude notamment à la carte bancaire. GRAINE DE MÔMES se réserve le droit de vérifier les données personnelles communiquées par le client lors du passage de la commande et d'adopter toutes les mesures jugées nécessaires à la vérification du fait que la personne dont le compte bancaire est débité est bien celle qui a passé la commande, ceci afin d’éviter tout paiement frauduleux. Cette vérification pourra prendre la forme d’une demande de justificatifs d’identité et/ou de domicile. A défaut de réponse positive de la part du client, GRAINE DE MÔMES se réserve le droit d’annuler la commande passée par le client.

d.Recouvrement des dettes

Lorsque la totalité de la somme d’argent due n’est pas payée par le client, elle devient un impayé. A cet effet, nous pouvons être tenus de communiquer vos données personnelles à notre prestataire de recouvrement de créances.

e. Autres cas

Dans tous les autres cas, vous serez avertis des traitements que GRAINE DE MÔMES envisage de faire.

4-Conservation des données personnelles

a. Stockage des données

Les données sont stockées dans le respect de la législation française et de la réglementation européenne sur des serveurs hébergés en France.

b. Destinataires des données personnelles

Nous veillons à ce que seules des personnes habilitées au sein de GRAINE DE MÔMES puissent accéder à vos données personnelles lorsque cet accès est nécessaire à l’exécution de notre relation commerciale.

Nous pouvons être amenés à partager avec d’autres sociétés des données personnelles nécessaires à la mise en œuvre des services que vous avez contractés ou souscrit (exemples : livraison à domicile, point de retrait). Les opérations avec un prestataire destinataire de vos données font l’objet d’un contrat afin de vous assurer de la protection de vos données et du respect de vos droits.

Si notre prestataire intervient en dehors de l’Union Européenne, nous protégeons la confidentialité de vos informations personnelles et vos droits en utilisant les clauses de protection des données recommandées par la Commission européenne. GRAINE DE MÔMES ne partage aucune donnée personnelle à des fins commerciales à des tiers.

c. Durée de conservation

Les durées de conservations des données respectent les recommandations de la CNIL et/ou les obligations légales :

Au terme de ces durées, nous pouvons procéder à l’archivage des données, notamment pour répondre aux délais de prescriptions légales et fiscales et ceux des actions en justice. L’archivage implique que ces données sont anonymisées et ne sont plus consultables en ligne. Elles sont extraites et conservées sur un support autonome et sécurisé.

5-Cookies, balises et réseaux sociaux

a. Gestion des cookies

A l’occasion de la consultation de notre site internet, nous pouvons être amenés, si vous l’acceptez, à déposer sur votre ordinateur, grâce à votre logiciel de navigation, des cookies. Les cookies nous permettent pendant leur durée de validité ou d’enregistrement, d’identifier votre ordinateur lors de vos prochaines visites. Des partenaires ou prestataires de GRAINE DE MÔMES, ou des sociétés tierces, peuvent également être amenés à déposer des cookies sur votre ordinateur. Certains cookies sont indispensables à la navigation sur notre site, notamment pour la bonne exécution du processus de commande, leur suppression peut entraîner des difficultés. Seul l’émetteur d’un cookie est susceptible de lire ou de modifier les informations contenues dans ce cookie.

Grâce aux paramétrages de votre logiciel de navigation, vous pourrez, à tout moment, simplement et gratuitement, choisir d’accepter ou non l’enregistrement de cookies sur votre ordinateur. Vous pouvez configurer votre logiciel de navigation selon votre volonté, de manière à ce que des cookies soient acceptés et enregistrés dans votre ordinateur ou, au contraire, afin qu’ils soient refusés.

b. Balises Web

GRAINE DE MÔMES utilise des balises web sur certaines pages du Site qui permettent de compter le nombre de visiteurs de la page. Ces balises web peuvent être utilisées avec certains de nos partenaires commerciaux, notamment afin de mesurer et améliorer l'efficacité de certaines publicités. Les informations collectées via ces balises web sont anonymes et permettent de connaître la fréquentation de certaines pages du Site, et ce afin de mieux assister les utilisateurs du Site.

c. Réseaux Sociaux

GRAINE DE MÔMES ne gère pas les données collectées par les Réseaux Sociaux via les boutons. L’utilisateur devra prendre connaissance de la politique relative à la protection des données personnelles publiée par les Réseaux Sociaux concernés et ce, afin de connaître les modalités de traitement et d’utilisation des données recueillies par ces derniers ainsi que les possibilités de paramétrages dont il dispose pour protéger sa vie privée. Si l’utilisateur ne souhaite pas que le Réseau Social relie les informations collectées par l’intermédiaire de GRAINE DE MÔMES à son compte utilisateur Réseau Social, il doit se déconnecter du Réseau Social avant de consulter le site.

6-Droits des utilisateurs sur leurs données personnelles

Dans l’objectif de vous permettre de contrôler nos usages de vos données personnelles, vous bénéficiez des droits suivants :

sur votre appareil mobile, activez le paramètre Suivi publicitaire limité dans les réglages de votre téléphone iOS ou le paramètre permettant de désactiver l’affichage des annonces personnalisées sur votre téléphone Android.
sur votre ordinateur, gérez vos préférences en matière de cookies, via le logiciel de navigation utilisé
L’utilisateur peut également s’opposer au dépôt de cookies par le site internet http://www.youronlinechoices.com/fr/controler-ses-cookies
Données de votre compte client et profil Enfant : 3 années à compter de la fin des relations avec le client. Le délai commence à partir soit de la dernière commande, soit de la dernière connexion au compte client, ou du dernier appel au service client, ou de l’envoi d’un courriel au service client, ou d’un clic sur un lien hypertexte d’un courriel adressé par Graine de Mômes, ou de la mise à jour d’un profil Enfant, ou enfin d’une réponse positive à un courriel demandant si le client souhaite continuer à recevoir de la prospection commerciale à l’échéance du délai de trois ans. A l’issue de ce délai les données du client seront anonymisées.
Données prospects : 3 années à compter de la fin des relations avec le prospect. Le délai commence à partir de la dernière connexion au compte client, ou du dernier appel au service client, ou de l’envoi d’un courriel au service client, ou d’un clic sur un lien hypertexte d’un courriel adressé par Graine de Mômes, ou de la mise à jour d’un profil Enfant, ou enfin d’une réponse positive à un courriel demandant si le prospect souhaite continuer à recevoir de la prospection commerciale à l’échéance du délai de trois ans. A l’issue de ce délai les données du prospect seront anonymisées.
Données bancaires (RIB/IBAN) :10 années à compter de la fin des relations commerciales avec le client.
Cookies : 24 mois pour les cookies Google Analytics et Facebook et 13 mois pour tous les autres cookies et ce, à compter de leur dépôt sur le terminal de l’utilisateur.
Données d’achat : 3 années à compter de la fin des relations avec le client.
A ce que l’acceptation ou le refus vous soient proposés ponctuellement, avant qu’un cookie soit susceptible d’être enregistré ;
A refuser systématiquement l’enregistrement de cookies dans votre ordinateur.
droit de vous opposer à nos traitements de vos données personnelles ;
droit d’accéder à vos données personnelles que nous traitons;
droit de les rectifier ;
droit à l’effacement ;
droit à la portabilité de vos données ;
droit à la limitation du traitement ;
droit de définir des directives relatives à la conservation, l’effacement et la communication de vos données personnelles après votre mort.
par mail bonjour@grainedemomes.com, accompagné d’une copie de tout document d’identité.
par courrier accompagné d’une copie de tout document d’identité en s’adressant à : Graine de Mômes 14 Place de l’hôtel de ville – 92600 Asnières sur Seine.
Si vous souhaitez des précisions sur le contenu de ces droits, merci de nous contacter aux adresses susmentionnées.  Nous vous fournissons nos éléments de réponses à vos demandes dans les meilleurs délais et en tout état de cause dans un délai d'un mois à compter de la réception de vos demandes.
</p>
