.btn-oval {
  color: white;
  background-color: $red;
  text-transform: uppercase;
  border: 1px solid;
  padding: 15px 25px;
  border-radius: 30px;
  font-family: 'Elastik A';
  font-weight: normal;
  font-size: 20px;
}

#btn-product {
  padding: 8px 10px 8px 10px;
  &:hover {text-decoration: none; color: white;}
}
#retour {
  &:hover {text-decoration: none; color: white;}
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  #btn-regler {
    display: flex;
    justify-content: center;
  }
}


// Smallest device
@media (min-width: 100px) and (max-width: 320px) {
  #btn-regler {
    display: flex;
    justify-content: center;
  }

  .btn-oval {
    color: white;
    background-color: $red;
    text-transform: uppercase;
    border: 1px solid;
    padding: 15px 25px;
    border-radius: 30px;
    font-family: 'Elastik A';
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 20px;
  }

}
