// GRID display
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 10vh;
}
// Product card
.wrapper {
  width: 240px;
  height: 360px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
  &:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
  }
}


.top {
  height: 80%;
  width: 100%;
  position: relative;
  img {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    overflow: hidden;
    object-fit: cover;
  }
  .front-picture {
    transition: opacity 0.5s;
    &:hover {
      opacity: 0;
    }
  }
  .back-picture {
    opacity: 0;
    transition: opacity 0.5s;
    &:hover {
      opacity: 1;
    }
  }
}

.bottom {
  padding: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  text-decoration: none;

  h3 { color: $red; font-size: 1.25rem;}
  h5 {font-size: 1.25rem; font-family: "Elastik";}
  #icone {
    font-size: 20px;
    color: grey;
    position: absolute;
    bottom: 32px; right: 10px;
  }
  a {
    color: grey;
    &:hover {color: grey; text-decoration: none;}
    position: absolute;
    bottom: 20px; right: 10px;
    font-size: 0.95rem;
    font-family: "Elastik";
  }
}

// CARD FOR Gift( Carte cadeau)
.gift-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.gift-card {
  padding: 10px;
  height: 300px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0;
  transition: box-shadow 0.3s;
  &:hover {box-shadow: 0px 0px 30px rgba(0,0,0,0.6);}
  a  {
    color: grey;
    &:hover {color: grey; text-decoration: none;}
  }
}

.title_formule {
    display: block;
    font-size: 30px;
    margin: 20px 0 30px 0;
    line-height: normal;
    position: relative;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
  }
  // responsive for product cards
  .wrapper {
    width: 100%;
    height: 300px;
    &:hover {
      box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
    }
  }

  .bottom {
    padding: 0px 5px 10px 10px;
    h3 {font-size: 1rem;}
    h5 {font-size: 0.95rem;}
    #icone {
      font-size: 20px;
      color: grey;
      position: absolute;
      bottom: 0px; right: 10px;
    }
    #savoir {display: none;}
    #eye {
      font-size: 20px;
      color: $pink;
      position: absolute;
      bottom: 0px; right: 40px;
    }
    a {
      color: grey;
      &:hover {color: grey; text-decoration: none;}
      position: absolute;
      bottom: 20px; right: 10px;
      font-size: 0.95rem;
      font-family: "Elastik";
    }
  }
  .gift-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    margin-left: 16%;
  }
  .gift-card {
    padding: 10px;
    height: 260px;
    width: 240px;
  }
}
@media (min-width: 576px) {
  .bottom {
    #eye {display: none;}
  }
}
