// CSS STYLE FOR CART PAGE
.cart-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 370px;
  img {
    height: 64px;
    width: 64px;
    border-radius: 6%;
  }
  i {
    color: $red;
    margin-left: 10px;
  }
 .cart-item-left {
    flex-basis : 60%;
    display: flex;
    flex-direction: row;
  }
  .cart-item-right {
    flex-basis : 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
.total-amount{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 600px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .total-amount{
    flex-direction: column;
  }
}
