.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $pink;
  height: 20vh;
  img {
    width: 150px;
    height: 80px;
  }
  a {
    color: white;
  &:hover { text-decoration: none;}
  }
  #social-link {
    img {
      width: 60px;
      height: 60px;
    }
  }
}
.footer-center {
  a { margin: 16px;}
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .footer {
    img {
      width: 100px;
      height: 56px;
    }
    .footer-center {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 80%;
      margin: 16px 0px 16px 0px;
      a { margin: 8px;}
    }
  }
}

// Medium device
@media (min-width: 576px) and (max-width: 812px) {
  .footer {
    height: 26vh;
  }
}
