.form-container {
  background-color: white;
  border-radius: 5px;
  h3 {color: $red;}
}

.gift-choices {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0px;
  width: 90%;
}

.gift-choice {
  flex: 0 0 30%;
  margin: 16px;
  // text-align: center;
  // background-color: #b7b7b7;
  border-radius: 5px;
  opacity: 0.3;
  // font-weight: bold;
  img { width: 100%;}
  &:hover {
    opacity: 1;
    border: solid 2px red;
    cursor: pointer;
  }
  &.active {
    border: solid 4px $green;
    color: white;
    opacity: 1;
  }
}
