.gift-text {
  max-width: 100%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .gift-text {
    h3 {font-size: 1rem;}
    h5 {font-size: 0.75rem;}
    li {font-size: 0.75rem;}
  }
}
