.gift-container {
  padding: 1vh 20vh 10vh 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-text {
  max-width: 100%;
  h3 {color: $red;}
  h5 {font-family: "Elastik";}
  strong {color: $red;}
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .gift-container {
  padding: 1vh 5vh 10vh 5vh;
}
.gift-text {
    h3 {font-size: 1rem;}
    h5 {font-size: 0.75rem;}
    li {font-size: 0.75rem;}
  }
}
