// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "bandeau";
@import "button";
@import "card";
@import "cart";
@import "filters";
@import "footer";
@import "form";
@import "gift";
@import "margin-navbar";
@import "navbar";
@import "product";


.content-wrapper {
  min-height: calc(100vh - 70px - 80px);
}

.home {
  display: block;
  text-align: center;
  position: relative;
  margin-bottom: 10vh;
  h2 {
    font-size: 50px;
    color: $red;
  }
  img {
   height: 130px;
   width: 150px;
   position: absolute;
   top: -80px; left: 13%;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .home {
    position: relative;
    margin-bottom: 10vh;
    margin-top:10vh;
    h2 {
      font-size: 26px;
    }
    img {
     height: 117px;
     width: 135px;
     position: absolute;
     top: -124px; left: 1%;
    }
  }
}
