.navbar-lewagon {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 13vh;
  position: sticky;
  top: 20px;
  z-index: 9;
  .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    a {
      color: $pink;
      font-weight: bold;
      font-size: 24px;
      margin-right: 16px;
    &:hover {text-decoration: none;}
    }
  }
}


.navbar-lewagon .navbar-brand img {
  width: 140px;
  margin-top: 8px;
}

.cart {
  position: absolute;
  top: 0px; right: 0px;
  display: flex;
  justify-content: flex-end;
  p {
    border-radius: 50%;
    font: 18px;
    width: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: $red;
    position: absolute;
    right: 10px; top: 10px;
    z-index: 1;
  }
  i {
    margin: 20px;
    font-size: 32px;
    color: $pink;
    position: relative;
    z-index: 2;
  }
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .navbar-lewagon {
    height: 17vh;
    .nav-items {
      width: 100%;
      a {
        font-size: 12px;
        margin-right: 6px;
      }
    }
  }
  .navbar-lewagon .navbar-brand img {
    width: 70px;
  }
  .cart {
    position: absolute;
    top: -4px; right: -8px;
    p {
      font: 12px;
      width: 18px;
      position: absolute;
      right: 8px; top: 10px;
    }
    i {
      margin: 20px;
      font-size: 24px;
      color: $pink;
      position: relative;
      z-index: 2;
    }
  }
}
